{% extends "page_template.jinja2" %}


{% block music %}
    <div class="form-group">
        <input aria-expanded="false"
               autocomplete="off"
               autofocus
               class="form-control form-control-lg"
               dir="ltr"
               id="query"
               name="query"
               placeholder="Recherchez un morceau ou collez une url"
               spellcheck="false"
               style="text-align: left; direction: ltr;"
               type="search"/>
    </div>
    <div class="form-group form-inline">
        <div class="col-0">
            <div class="icon btn-volume" style="margin: auto;"></div>
        </div>
        <div class="col-10">
            <button class="btn btn-secondary" id="show-slider-btn">Slider on / off</button>
            <input class="volume-slider form-control" id="volume-slider" max="100" min="0" type="range">
            <button class="btn volume-button" onclick="volumeDown()">-</button>
            <button class="btn volume-button" onclick="volumeUp()">+</button>
        </div>
    </div>
    <ul class="list-group" id="search_results"></ul>
    <ul class="list-group" id="playlist"></ul>
{% endblock %}

{% block content %}
    <div class="col-xl-4" style="padding-left: .5em;padding-right: .5em;">
        <div id="YT"></div>
        <div class="container">
            <div class="row">
                <div class="col-3 yt-btn">
                    <button class="btn btn-outline-primary" id="pause" type="submit">
                        <i class="fa fa-play"></i> / <i class="fa fa-pause"></i></button>
                </div>
                <div class="col-2 yt-btn">
                    <button class="btn btn-outline-primary" id="rewind" type="submit" title="-10s">
                        <i class="fa fa-fast-backward"></i>
                    </button>
                </div>
                <div class="col-2 yt-btn">
                    <button class="btn btn-outline-primary"
                            id="advance"
                            type="submit"
                            title="+10s">
                        <i class="fa fa-fast-forward"></i>
                    </button>
                </div>
                <div class="col-4 yt-btn">
                    <input aria-expanded="false"
                           autocomplete="off"
                           autofocus
                           class="form-control form-control-lg"
                           dir="ltr"
                           id="jump"
                           name="jump"
                           placeholder="00:00"
                           spellcheck="false"
                           style="text-align: center; direction: ltr;"
                           type="search"/>
                </div>
            </div>
        </div>
        <div class="clearfix" id="suggestion-column">
            <div class="display-4" id="suggestions-title">Suggestions</div>
            <div class="lead py-4" id="suggestions-controls">
                <a href="javascript:void(0)" id="refresh-suggestions">Rafraîchir</a>
                <a href="javascript:void(0)" id="toggle-YT">Afficher/Masquer la vidéo</a>
            </div>
        </div>
        <ul class="list-group" id="suggestions"></ul>
    </div>
{% endblock %}
