{% extends "page_template.jinja2" %}

{% block content %}
    <div class="container help-block">
        <p>
            Le code source est disponible <a href="https://gitlab.com/club-jeux-int/jukebox-ultra-nrv">ici</a>.
            La version utilisée est {{ version }}.
        </p>
        <p>
            Download the playlist as a JSON:
            <a href="/playlist" rel="nofollow">
                <button class="btn" id="download-playlist-button" onclick=''>
                    Click Here.
                </button>
            </a>

        </p>
        <form method="post" action="/playlist" enctype="multipart/form-data">
            <label for="playlist-json">Upload a saved playlist in JSON:</label>
            <input type="file" id="playlist-json" name="playlist-json" accept="application/json">
            <input type="submit"/>
        </form>
        <p>
            Les modules chargés sont
        <ul>
            {% for m in modules %}
                <li>
                    {{ m }}
                </li>
            {% endfor %}
        </ul>
        <p>
            Pour utiliser la recherche, Youtube, entrez simplement
            les termes de votre recherche, puis appuyez sur la
            touche "Entré".
            Pour rechercher des chansons sur Youtube ou Soundcloud,
            vous pouvez utiliser les bangs <code>!yt</code>, ou
            <code>!sc</code>.
            Pour lire des titres en provenance de Bandcamp,
            Soundcloud, Jamendo ou Youtube, vous pouvez aller
            chercher le lien de la chanson de votre choix
            directement sur ces sites.
        </p>
    </div>
{% endblock %}
