{% extends "page_template.jinja2" %}

{% block content %}
<div class="container">
	<div style="text-align:center">
		<h2>
			Historique des {{ n }} dernieres musiques
		</h2>
	</div>
	<div class="statistics" style="padding:30px;">
		<div class="col statcol" style="margin: auto;">
			<div class="statdisplay">
				{{ table_last_tracks|safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
