<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url_for('static', filename='themes/bootstrap.min.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='themes/custom/') }}{{ stylesheet }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Jukebox Ultra NRV mkIII</title>
</head>
  <body class="text-center">
	<div class="container">
	<h1>Attention !</h1>
	<h2>Se déconnecter désassociera ce pc du compte {{ user }}.</h2>
    <form class="form-signin" action="/logout" method="post">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Oui allez</button>
		
    </form>
	<a class="btn btn-lg" href="/">Ah non merde</a>
	</div>
  </body>
</html>
