<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://rawgit.com/shaneapen/Image-Preview-for-Links/master/image_preview_for_links.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='themes/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='themes/custom/default.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='themes/custom/') }}{{ theme }}" rel="stylesheet" type="text/css" id="curStyle">
    <link href="" rel="stylesheet" type="text/css" id="newStyle">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <title>{{ jk_name }}</title>
</head>

<body>
<div class="background"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-8" style="padding-left: .5em;padding-right: .5em;">
            <h1 class="display-3">{{ jk_name }}</h1>
            <div class="clearfix">
                <ul class="nav">
                    <li class="nav-item">
                        <p class="nav-link">
                            <a href="/app">Accueil</a>
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">
                            <a href="/statistics">Statistics</a>
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">
                            <a href="/history/50">History</a>
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">
                            <a href="/theme">Theme</a>
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">
                            <a href="/help">Help</a>
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link"><a href="/logout">Logout</a></p>
                    </li>
                    {% for elem in navlinks %}
                    <li class="nav-item">
                        <p class="nav-link">
                            <a href="{{ elem[1] }}" title="{{ elem[0] }}">{{ elem[0] }}</a>
                        </p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% block music %} {% endblock %}
        </div>
        {% block content %} {% endblock %}
    </div>
</div>

<script src="{{ url_for('static',filename='scripts/jquery.loadTemplate.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
{% block scripts %} {%endblock%}
</body>
</html>
