{% extends "page_template.jinja2" %}

{% block content %}
<div class="container">
    <div class="statistics">
        <div class="col-xl-6 statcol">
        <h2  style="text-align:center">Users with most play counts :</h2>
            <div class="statdisplay">
                <h3 style="text-align:center">All time</h3>
                {{ table_users_count_all|safe }}
            </div>
            <div class="statdisplay">
                <h3 style="text-align:center">Last seven days</h3>
                {{ table_users_count_week|safe }}
            </div>
            <div class="statdisplay">
                <h3 style="text-align:center">Last 24 hours</h3>
                {{ table_users_count_day|safe }}
            </div>
        </div>
        <div class="col-xl-6 statcol">
        <h2 style="text-align:center">Tracks with most play counts :</h2>
            <div class="statdisplay">
                <h3 style="text-align:center">All time</h3>
                {{ table_tracks_count_all|safe }}
            </div>
            <div class="statdisplay">
                <h3 style="text-align:center">Last seven days</h3>
                {{ table_tracks_count_week|safe }}
            </div>
            <div class="statdisplay">
                <h3 style="text-align:center">Last 24 hours</h3>
                {{ table_tracks_count_day|safe }}
            </div>

        </div>
    </div>
</div>
{% endblock %}
