{% extends "page_template.jinja2" %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Choose a theme</h2>
        <div class="centered row w-75 justify-content-center">
            {% for theme in theme_list %}
                {% set img_link = url_for('static',filename='themes/custom/resources/preview/' + theme[0] + '.png') %}
                <div class="col-xl-4 mb-5">
                    <div class="card h-100" id="{{ loop.index }}">
                        <a onclick="postNewTheme('{{ theme[0] }}')" href="{{ img_link }}">
                            <img src="{{ img_link }}"
                                 class="card-img-top"
                                 alt=""
                            >
                        </a>
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ theme[1] }}</h5>
                            </div>
                        </div>
{#                        <div class="card-footer pt-0 border-top-0 bg-transparent">#}
{#                            <div class="text-center">#}
{#                                <button class="btn btn-outline-dark mt-auto" href="javascript:void(0)"#}
{#                                        onclick="postNewTheme('{{ theme[0] }}')">#}
{#                                    Choose#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            {% endfor %}
        </div>
        <h4 class="text-center">All screenshots were taken in Firefox. It is the preferred browser to use with this
            app.</h4>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='scripts/theme.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/image_preview_for_links.js') }}"></script>
{% endblock %}
