{% extends "page_template.jinja2" %}

{% block content %}
<div class="container">
	<div style="text-align:center">
		<h1>
			Statistiques de {{track}}
		</h1>
		{% if obsolete %}
		<h2 style="color:red;">Track obsolete</h2>
		{% else %}
		<form action="/add/{{ident}}" method="post">
			<input type="submit"
				   name="Add"
				   value="Ajouter à la file d'attente."
			>
		</form>
		{% endif %}
	</div>
	<div class="statistics" style="padding:30px;">
		<div class="col statcol">
			<div class="statdisplay">
				<h3 style="text-align:center">All time</h3>
				{{ table_users_count_all|safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
