{% extends "page_template.jinja2" %}

{% block content %}
<div class="container">
	<div style="text-align:center">
		<h1>
			Statistiques de {{user_name}}
		</h1>
        <h1>Diversité: {{ score }}%</h1>
	</div>
	<div class="statistics">
		<div class="col-xl-6 statcol">
			<div class="statdisplay">
				<h3 style="text-align:center">All time</h3>
				{{ table_tracks_count_all|safe }}
			</div>
		</div>
		<div class="col-xl-6 statcol">
			<div class="statdisplay">
				<h3 style="text-align:center">Last month</h3>
				{{ table_tracks_count_month|safe }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
