@font-face {
    font-family: "HadesGreek";
    src: url("resources/hades/hadesGreek.ttf");
}

@font-face {
    font-family: "HadesText";
    src: url("resources/hades/hadesText.ttf");
}

#playlist > .track:not(.current) {
    cursor: url("resources/hades/CursorMove.cur"), all-scroll;
}

a, button, .icon {
    cursor: url("resources/hades/CursorAttack_HighContrast.cur"), pointer !important;
}

a:active, button:active, .icon:active {
    cursor: url("resources/hades/CursorAttackPress.cur"), pointer !important;
}

#query {
    cursor: url("resources/hades/CursorInteract.cur"), pointer;
}

#jump {
    font-size: .9em;
    --link-hover-color: black;
}

#show-slider-btn , .volume-button{
    color: white;
    border: solid white;
    margin-right: 0.5vw;
    background-color: rgba(109, 38, 190, 0.3);
}

#volume-slider{
    --background-color: rgba(109, 38, 190, 255);
}


:root {
    --text-colour: white;
    --link-colour: white;
    --link-hover-colour: #6d9121;
    --discrete-colour: gray;
    --statcol-primary: rgba(0, 255, 0, 0.4);
    --statcol-secondary: rgba(244, 161, 44, 0.4);
    --statcol-head: rgba(255, 0, 0, 0.4);
    --background-color: rgba(15,61,18,0.8);/*rgba(109, 38, 190, 0.5);*/
    --background-shadow: rgba(15,61,18,255);/*#9f42db;*/
}
.form-control:focus {
    box-shadow: 0 0 20px 8px var(--background-shadow);
    background-color: var(--background-color);
    color: #aeff00;

}
#playlist-playing, #playlist-queue {
    list-style-type: none;
    padding: 0;
    text-align: center;
    letter-spacing: 10px;
    margin: 13px 10px 10px;
}

body {
    font-family: "HadesText", serif;
    font-weight: bold;
    font-variant: small-caps;
    cursor: url("resources/hades/CursorAttack.cur"), auto;

}
@media only screen and (orientation: landscape) {
    body {
        background: url("resources/hades/tartarus.webp");
        background-size: cover;
    }
}

@media only screen and (orientation: portrait) {
    .background {
        background: url("resources/hades/areaMap.webp");
        background-size: cover;
    }
}


.display-3, .display-4 {
    text-shadow: -2px -2px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 0 #000;
}

.display-3 {
    font-family: "HadesGreek", serif;
    visibility: hidden;
    font-size: 0;
}

.display-3:after {
    content: "There is no escape from the Jukebox";
    visibility: visible;
    font-size: 5rem;
    color: #ffffff
}

.display-4 {
    color: #be0503;
    font-weight: normal;
    font-family: "HadesText", serif;
}

.nav-link {
    font-family: "HadesText", serif;
    font-size: 1.5rem;
    padding: 1em 1em;
}

iframe#YT {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    /* Pour avoir un truc youtube centré un peu quand même */
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-shadow:
            -1px -1px 0 #000,
            -1px 0px 0 #000,
            -1px 1px 0 #000,
            0px -1px 0 #000,
            0px 1px 0 #000,
            1px -1px 0 #000,
            1px 0px 0 #000,
            1px 1px 0 #000;
}

.lead.py-4 > a {
    text-shadow:
            -1px -1px 0 #000,
    -1px 0px 0 #000,
    -1px 1px 0 #000,

    0px -1px 0 #000,
    0px 1px 0 #000,

    1px -1px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000;
    margin-right: 5px;
}

input[type="search"] {
    text-align: left;
    direction: ltr;
    border: 1px solid white;
    box-shadow: 0 0 10px 2px var(--background-shadow);
    background-color: var(--background-color);
    color: #dcf5f7;
    border-radius: 25px;
}


.form-control::placeholder {
    color:  var(--link-hover-colour);
}

label {
    color: black;
    margin-bottom: 0;
}

select {
    margin: 1em 0 1em 0;
}

iframe, .list-group {
    box-shadow: 1px 1px 0 0 #000,
    2px 2px 0 0 #000,
    3px 3px 0 0 #000,
    4px 4px 0 0 #000,
    5px 5px 0 0 #000,
    6px 6px 0 0 #000,
    7px 7px 0 0 #000,
    8px 8px 0 0 #000,
    9px 9px 0 0 #000,
    10px 10px 0 0 #000;
}

.container, .iframe, .list-group {
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
}

table {
    margin: auto;
}

.list-group {
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.list-group-item.track {
    background-color: transparent;
}

.yt-btn {
    margin: auto;
}



.albumart {
    border-radius: 70px 0.5em 0.5em 70px;
    margin-top: -7px;
    margin-left: -7px;
    box-shadow: 10px 10px 0 0 black;
    object-fit: cover;
    max-width: 280px;
    max-height: 140px;
    width: 100%;
    height: auto;
}

#pause, #rewind, #advance {
    width: 100%;
    font-family: "Segoe UI";
    background-color: var(--background-color);
    color: #ffffff;
    border-color: white;
}


.track-duration, .track-user, .track-source, .track-url, .track-count, .track-album, .track-source, .track-title, .track-artist {
    display: block;
    font-size: 1rem;
}

.track-title, .track-artist {
    display: block;
}

.track-user, .track-duration {
    display: inline-block;
}

#search_results .track-user {
    visibility: hidden;
}

.icon {
    background: transparent none no-repeat center;
    border: none;
    background-size: auto 100%;
    padding-left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: .3em auto;
    display: block;
}

.icon.btn-stats {
    background-image: url("resources/hades/darkness.webp");
}

.icon.btn-more, .icon.btn-back {
    background-image: url('resources/hades/athena.webp');
}

.icon.btn-top {
    background-image: url("resources/hades/hermes.webp");
    /*height: 30px;
    background-size: contain;
    */
}

.icon.btn-up {
    background-image: url('resources/hades/artemis.webp');
}

.icon.btn-down {
    background-image: url('resources/hades/zeus.webp');
}

.icon.btn-remove {
    background-image: url("resources/hades/delete.ico")
}

.icon.btn-add {
    background-image: url("resources/hades/blood.webp")
}

.icon.btn-refresh {
    background-image: url('resources/hades/chaos.webp');
}

input[type=range] {
    -webkit-appearance: none;
    /*nécessaire pour Chrome */
    padding: 0;
    /* nécessaire pour IE */
    font: inherit;
    /* même rendu suivant font document */
    outline: none;
    color: var(--background-color);
    /* sert pour couleur de référence, via currentColor, pour le curseur */
    box-sizing: border-box;
    /* même modèle de boîte pour tous */
    transition: opacity .2s;
    height: 20px;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

input[type=range]:focus, input[type=range]::-webkit-slider-runnable-track {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    background: linear-gradient(to right, #293043, #293043), #D7D7D7;
    background-size: 0 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: blue;
}

input[type='range']::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: blue;
    border: solid blue 1px;
    border-radius: 50%;
    margin-top: -6px;
    background-color: none;
}

input[type="range"]::-moz-range-progress {
    height: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
}

input[type="range"]::-moz-range-track {
    background-color: #D7D7D7;
    border-radius: 5px;
    height: 10px;
    width: 100%
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border: none;
    background: none;
}

.container-fluid::after {
    content: "Theme by Leonastos (fait en coordination avec le prochain prez jukeboxINT)";
    text-align: center;
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;
    display: block;
    animation: spin;
    animation-duration: 4s;
    animation-delay: 60s;
    animation-iteration-count: 1;
    font-size: larger;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
