@font-face {
    font-family: "Nanum Gothic";
    src: url("resources/library-of-ruina/NanumGothic.ttf");
}

@font-face {
    font-family: "Arita Burim";
    src: url("resources/library-of-ruina/Arita-buriM.otf");
}

@font-face {
    font-family: "Furgatorio";
    src: url("resources/library-of-ruina/furgatorio.ttf");
}

body {
    cursor: url("resources/library-of-ruina/Normal Select.cur"), auto;
}


#playlist > .track:not(.current) {
    cursor: url("resources/library-of-ruina/Precision Select_ Vertical Resize_ Horizontal Resize_ Move.cur"), all-scroll;
}

a, button, .icon {
    cursor: url("resources/library-of-ruina/Alternate Select_ Link Select.cur"), pointer !important;
}

a:active, button:active, .icon:active {
    cursor: url("resources/library-of-ruina/Alternate Select_ Link Select.cur"), pointer !important;
}

#query {
    cursor: url("resources/library-of-ruina/Text Select_ Handwriting.cur"), pointer;
}

:root {
    --text-colour: white;
    --background-color: rgba(0,0,0,.85);
    --statcol-primary: darkgray;
    --statcol-secondary: rgba(0, 0, 0, 0.32);
    --statcol-head: var(--background-color);
}


a {
    font-family: Furgatorio, serif;
    font-size: 3em;
    color: #83e3ed;
    text-shadow: 0 0 10px #83e3ed;
}

a:hover {
    color: #7eCCB2;
}


h2, h3 {
    font-family: Furgatorio, serif;
    font-size: 3em;

    color: #83e3ed;
    text-shadow: 0 0 10px #83e3ed;
}

.statistics a {
    font-family: "Arita Burim", serif;
    font-size: 1rem;
    color: var(--text-colour);
}

.statistics a:hover {
    color: lightblue;
}

.statistics .statcol thead, .track-title {
    color: #edc382;
    text-shadow: 0 0 3px #edc382;
}

.nav {
    text-shadow: 0 0 10px black !important;
}

.nav-link {
    margin-bottom: 0;
    min-width: 140px;
    text-align: center;
}

.nav-item {
    background-image: url("resources/library-of-ruina/KeywordBoxUI.png");
    background-size: 100% 80%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    height: 60%;
}

.track {
    font-family: "Arita Burim", serif;
    background: url("resources/library-of-ruina/background.webp") no-repeat;
    background-size: 100% 100%;
    margin: 5px;
	border-image: url("resources/library-of-ruina/UI_frame.webp") 150 stretch;
    border-image-width: 45px ;

}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center !important;
    background-attachment: fixed !important;
    font-family: "Arita Burim", serif;
}

.display-3 {
    font-family: "Furgatorio", serif;
    font-size: 0;
    color: #7eCCB2;
    background: url("resources/library-of-ruina/TilteButtonWideBanner.png") no-repeat center;
    background-size: 100% 100%;
    text-align: center;
    margin-bottom: -1rem;
}

.display-3:after {
    padding-left: .1em;
    content: "Jukebox of Ruina";
    visibility: visible;
    font-size: 10rem;
    text-align: center;
}

.display-4 {
    font-family: "Furgatorio", serif;
    font-size: 10rem;
    text-align: center;
    float: none !important;
    margin-top: -.1em;
    margin-bottom: -.3em;
}

.display-3:after, .display-4 {
    text-shadow: 0 0 10px #93ECCE;
    background-clip: text;
    color: transparent;
    background-color: #7eCCB2;
}

.display-3:after {
    background-image: -webkit-linear-gradient(
            90deg,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent
    );
}

.display-4 {
    background-image: -webkit-linear-gradient(
            90deg,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent,
            black, transparent, black, transparent, black, transparent, black, transparent, black, transparent
    );
}


#playlist-playing, #playlist-queue {
    background: url("resources/library-of-ruina/title.png") no-repeat;
    background-size: 40% 100%;
    background-position: 55% 77%;
    background-clip: border-box;
    margin: 0;
    padding: 2em 0 1em;
}

#suggestion-column {
    background: url("resources/library-of-ruina/Image_AlarmPopup.png") no-repeat;
    background-size: contain;
}

#suggestions-controls {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

#suggestions-controls > a {
    font-size: 2.5em;
}

body {
    background: url('resources/library-of-ruina/Inside the Library 2.png') 50%;
    background-size:cover;
    background-repeat: no-repeat;
}

@media only screen and (orientation: portrait) {
    .display-3:after {
        font-size: 5rem;
        background-image: none;
    }

    .display-3 {
        padding: 1rem 0 1rem 0;
        background-size: 150% 120%;
        background-position: 50%;
    }

    .display-4 {
        font-size: 4rem;
        background: url("resources/library-of-ruina/Image_AlarmPopup.png") no-repeat;
        background-size: 90%;
        background-clip: content-box;
        color: #7eCCB2;
        text-shadow: 0 0 10px #93ECCE;
        background-position: 50% 50%;
    }


    #suggestion-column {
        background: none;
    }

    a {
        font-size: 2em;
    }

    #suggestions-controls > a {
        font-size: 1.9em;
    }

    .nav-link {
        min-width: 30vw;
    }

    #playlist-playing, #playlist-queue {
        background-size: 100% 130%;
        background-position: 6vw 77%;
        background-clip: border-box;
        margin: 0;
        padding: .5em 0 .5em;
    }

    .track {
        background-image: url("resources/library-of-ruina/Frame.png");
    }

    .track-title {
        font-size: 1.2rem;
    }

    .track-artist, .track-duration, .track-user {
        font-size: .8rem;
    }
}

.albumart {
    -webkit-mask-image: url("resources/library-of-ruina/PreviewCardFrame.png");
    mask-image: url("resources/library-of-ruina/PreviewCardFrame.png");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    margin-left: auto;
    margin-right: auto;;
}

/*
.albumart:before {
    position: absolute;
    content: '';
    background: url("resources/library-of-ruina/BattleDicaCardActionUI_Cover.png");
    width: 100%;
    height: 100%    ;
    pointer-events: none;
}
 */

.btn-remove, .btn-add, .btn-back, .btn-more, .btn-top, .btn-up, .btn-down, .btn-refresh {
    position: relative;
    top: 2px;
}

.icon { /*Les icones de selection de chansons*/
    background: transparent none no-repeat left;
    border: none;
    background-size: 20px;
    padding-left: 20px;
    width: 20px;
    height: 20px;
    margin: 6px;
    display: block;
}

.recto, .verso {
    flex-wrap: nowrap;
}

.col-1 {
    padding: 0;
}

.icon.btn-back {
    background-image: url("resources/library-of-ruina/back.png");
    background-size: contain;
}

.icon.btn-more {
    background-image: url("resources/library-of-ruina/info.png");
    background-size: contain;
}

.icon.btn-up {
    background-image: url("resources/library-of-ruina/up_icon.png");
    background-size: contain;
}

.icon.btn-down {
    background-image: url("resources/library-of-ruina/down_icon.png");
    background-size: contain;
}

.icon.btn-remove {
    background-image: url("resources/library-of-ruina/cross.png");
    background-size: contain;
}

.icon.btn-add {
    background-image: url("resources/library-of-ruina/plus_sign.png");
    background-size: contain;
}

.icon.btn-refresh {
    background-image: url("resources/library-of-ruina/refresh.png       ");
    background-size: contain;
}

.icon.btn-stats {
    background-image: url("resources/library-of-ruina/looking_glass.png");
    background-size: contain;
}

.icon.btn-top {
    background-image: url("resources/library-of-ruina/up_fancy.png");
    height: 30px;
    background-size: contain;
}

.icon.btn-volume {
    background-image: url("resources/library-of-ruina/audio.png");
    background-size: contain;
    height: 3em;
    width: 3em;
    border: none;
}

.help-block {
    font-family: "Arita Burim", serif;
    border-color: transparent;
    max-width: 90vw;
    padding: 3vh 5vw;

    background: url("resources/library-of-ruina/background.webp") no-repeat;
    background-size: 100% 100%;
    margin: 5px;
	border-image: url("resources/library-of-ruina/UI_frame.webp") 150 stretch;
    border-image-width: 80px ;
}

.help-block p {
    margin: -1vh 0 0 0;
}

.help-block p a{
    font-size: 2em;
}


#download-playlist-button {
    color: var(--text-colour);
    font-size: .8em;
}

.card {
    background: var(--background-color);
}