a { /*Les "settings", "Help" et "Logout"*/
    color: white;
    text-shadow: -1px 1px 0 #0000008c, 1px 1px 0 #0000008c, 1px -1px 0 #0000008c, -1px -1px 0 #0000008c;
}

h1 /*Le titre principal, ie : Jukebox*/
{
    text-shadow: -1px 1px 0 #ff65e4,
    1px 1px 0 #ff65e4,
    1px -1px 0 #ff65e4,
    -1px -1px 0 #ff65e4;
    -webkit-text-stroke: 3px #ff65e4; /*may not work with every browser*/
}

h1:after {
    content: " <3";
}

h1:before {
    content: " <3";
}

@font-face {
    font-family: "MLP";
    src: url("resources/PONYMLP.ttf");
}

body {
    font-family: sans-serif;
    font-weight: bold;
}

@media only screen and (orientation: landscape) {
    body {
        background: url(https://cinema.mu/wp-content/uploads/2017/11/my-little-pony.jpg);
        background-size: cover;
    }
}

@media only screen and (orientation: portrait) {
    body {
        background: url(https://cinema.mu/wp-content/uploads/2017/11/my-little-pony.jpg);
        background-size: cover;
    }
}

.display-3 {
    font-family: "MLP", serif;
    visibility: hidden;
    font-size: 0;
    color: pink;
}

.display-3:after {
    content: "❤️ My Little Jukebox ❤️";
    visibility: visible;
    font-size: 3.7rem;
}

.display-4 { /*Partie Suggestions*/
    content: "Rien";
    visibility: hidden;
    font-size: 20px;
}

.display-4:after {
    content: "Suggestions";
    visibility: visible;
    font-size: 50px;
    font-family: "MLP", serif;
    color: pink;
    -webkit-text-stroke: 1px #ff65e4; /*may not work with every browser*/
}

.display-4:before {
    content: url(https://cdn.discordapp.com/attachments/395339545010241547/585444936049229825/Twilight.png);
    visibility: visible;
    height: 1px;
    width: 1px;
    float: left;
    transform: scaleX(0.1) scaleY(0.1);
}

iframe, .list-group, .container { /*Les chansons */
    box-shadow: -2px -2px 0 0 #00000042, -2px 2px 0 0 #00000042, 2px -2px 0 0 #00000042, 2px 2px 0 0 #00000042;
    margin-left: -5px;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
}

.container {
    background-color: rgba(255, 255, 255, .5);
}

.statistics .statcol thead {
    background-color: rgba(255, 101, 228, 0.6);
    border-bottom: 1px solid grey;
}

.statistics .statcol th, .statistics .statcol td {
    padding: 5px;
}

.statistics .statcol tbody tr:nth-child(even) {
    background-color: rgba(102, 226, 255, 0.6);
}


.statistics .statcol tbody tr:nth-child(odd) {
    background-color: rgba(226, 255, 102, 0.6);
}

.list-group { /*La couleur des boites principales*/
    margin-right: 5px;
    background-color: rgba(255, 255, 255, .8);
}

.list-group-item.track {
    background-color: transparent;
}


.albumart { /*Les illustrations des vidéos */
    border-radius: 0.5em;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -7px;
    margin-left: -7px;
    box-shadow: 0px 0px 0 2px #000000c7;
    object-fit: cover;
    max-width: 280px;
    max-height: 140px;
    width: 100%;
    height: auto;
}

.track-duration, .track-user, .track-source, .track-url, .track-count, .track-album, .track-source {
    color: rgba(18, 46, 140, .55);
    display: block;
}

.track-title, .track-artist {
    display: block;
}

.track-user, .track-duration {
    display: inline-block;
}

.icon { /*Les icones de selection de chansons*/
    background-image: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    background-size: 50px;
    padding-left: 4px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 1px;
    display: block;
}

.btn-volume {
    width: 20px;
    height: 20px;
}

.icon.btn-back {
    background-image: url("resources/mlpicons/MLPZecora-left.gif");
}

.icon.btn-more {
    background-image: url("resources/mlpicons/MLPZecora-right.gif");
}

.icon.btn-up {
    background-image: url("resources/mlpicons/MLPup.png");
}

.icon.btn-down {
    background-image: url("resources/mlpicons/MLPdown.png");
}

.icon.btn-remove {
    background-image: url("resources/mlpicons/MLPDelete.png");
}

.icon.btn-add {
    background-image: url("resources/mlpicons/MLPAdd.png");
}

.icon.btn-refresh {
    background-image: url("resources/mlpicons/MLPRefresh.png");
}

input[type=range] {
    -webkit-appearance: none; /*nécessaire pour Chrome */
    padding: 0; /* nécessaire pour IE */
    font: inherit; /* même rendu suivant font document */
    outline: none;
    color: #069; /* sert pour couleur de référence, via currentColor, pour le curseur */
    box-sizing: border-box; /* même modèle de boîte pour tous */
    transition: opacity .2s;
    cursor: pointer;
    height: 10px;
    border: solid 1px grey;
    border-radius: 4px;
}

input[type=range]:focus, input[type=range]::-webkit-slider-runnable-track {
    outline: none;
    border-color: grey;
}

/* la zone de déplacement */
input[type=range]::-webkit-slider-runnable-track {
    height: 100%;
    border: none;
    border-radius: 0;
    background-color: white;
}

/* le curseur */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* également nécessaire sur le curseur */
    height: inherit; /* s'adapte à la hauteur de l'input */
    border: solid 1px grey;
    border-radius: 6px;
    background: pink; /* pris en compte sur Webkit only */
    margin-top: -19px;
    margin-left: -2.5px;
}

/* la zone de déplacement */
input[type=range]::-moz-range-track {
    height: 100%;
    border: none;
    border-radius: 4;
    background-color: white;
}

/* le curseur */
input[type=range]::-moz-range-thumb {
    height: inherit; /* s'adapte à la hauteur de l'input */
    border-radius: 0; /* supprimer le rayon */
    background: pink;
    border: solid 1px grey;
    border-radius: 6px;
}

.container-fluid::after {
    content: "Theme by Fabien";
    font-size: 25px;
    font-family: "MLP", serif;
    color: pink;
    -webkit-text-stroke: 1px #ff65e4; /*may not work with every browser*/
}
