@font-face {
    font-family: "Levibrush";
    src: url("resources/ori/levibrush.ttf");
}


@media only screen and (orientation: landscape) {
    body {
        background: url("resources/ori/computer_background.jpg") no-repeat;
        background-size: cover;
    }
}
@media only screen and (orientation: portrait) {
    body {
        background: url("resources/ori/phone_background.jpg");
        background-size: cover;
    }
}

.display-3 {
    visibility: hidden;
    font-size: 0;
    padding-top: 20px;
}

.display-3::after {
    visibility: visible;
    content: "Ori and the Will of the Jukebox";
    font-size: 4rem;
}

.display-3, .display-4, h3, h2 {
    font-family: Levibrush, serif;
    color: white;
    text-shadow: 0 0 10px orange;
}

h4 {
    color: white;
}


.display-4, .lead.py-4 {
    text-align: center;
    float: none !important;
}

.track {
    background-color: rgba(123, 187, 87, 0.5);
    color: white;
    text-shadow: 0 0 10px orange;
    border-radius: 1em;
    margin-bottom: .5em;
}

.list-group-item:last-child, .list-group-item:first-child {
    border-radius: 1em;
    margin-bottom: .5em;
}

.track-duration, .track-user, .track-source {
    color: white;
}

.track-url {
    text-shadow: none;
}

a {
    color: lightgoldenrodyellow;
    text-shadow: 0 0 10px orange;
}

a:hover {
    color: orange;
}

.form-control {
    border-color: orange;
}

.form-control:focus {
    border-color: orange;
    box-shadow: 0 0 0 .2rem rgba(255, 165, 0, 0.5);
}

.btn {
    border: solid 2px;
    background-color: rgba(123, 187, 87, 0.5) !important;
    border-color: orange !important;
    color: orange;
    border-radius: 25px;
}

.btn:hover {
    color: orange;
    box-shadow: 0 0 10px orange;
}


.icon {
    background: lightgoldenrodyellow none no-repeat !important;
    border: none;
    background-size: 20px;
    padding-left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 6px;
    display: block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 20px;
    mask-size: 20px;
    -webkit-mask-position: center;
    mask-position: center;
    transition: background-color .15s ease-in-out;
}

.statcol tr:nth-child(even) {
    background-color: rgba(115, 101, 213, 0.5);
}

.statcol tr:nth-child(odd) {
    background-color: rgba(185, 145, 234, 0.56);
}

.statistics .statcol thead {
    background-color: darkseagreen;
    border-bottom: 1px solid darkgreen;
}

.icon:hover {
    background: orange !important;
}

.icon.btn-back {
    -webkit-mask-image: url("resources/icons/arrow-alt-circle-left-solid.svg");
    mask-image: url("resources/icons/arrow-alt-circle-left-solid.svg");
}

.icon.btn-more {
    -webkit-mask-image: url("resources/icons/ellipsis-h-solid.svg");
    mask-image: url("resources/icons/ellipsis-h-solid.svg");
}

.icon.btn-up {
    -webkit-mask-image: url("resources/icons/chevron-up-solid.svg");
    mask-image: url("resources/icons/chevron-up-solid.svg");
}

.icon.btn-down {
    -webkit-mask-image: url("resources/icons/chevron-down-solid.svg");
    mask-image: url("resources/icons/chevron-down-solid.svg");
}

.icon.btn-remove {
    -webkit-mask-image: url("resources/icons/x.svg");
    mask-image: url("resources/icons/x.svg");
}

.icon.btn-add {
    -webkit-mask-image: url("resources/icons/plus-square-regular.svg");
    mask-image: url("resources/icons/plus-square-regular.svg");
}

.icon.btn-refresh {
    -webkit-mask-image: url("resources/icons/sync-solid.svg");
    mask-image: url("resources/icons/sync-solid.svg");
}

.icon.btn-stats {
    -webkit-mask-image: url("resources/icons/stats.svg");
    mask-image: url("resources/icons/stats.svg");
}

.icon.btn-top {
    -webkit-mask-image: url("resources/icons/angle-double-up.svg");
    mask-image: url("resources/icons/angle-double-up.svg");
    height: 30px;
}

.icon.btn-volume {
    -webkit-mask-image: url("resources/icons/volume.svg");
    mask-image: url("resources/icons/volume.svg");
}

.btn-remove, .btn-add, .btn-back, .btn-more, .btn-up, .btn-down, .btn-refresh {
    position: relative;
    top: 2px;
}

.help-block {
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 1em;
}
