@font-face {
    font-family: "Discopia";
    src: url("resources/synthwave/Discopia Regular.otf");
}

@font-face {
    font-family: "Rocket Rinder";
    src: url("resources/synthwave/Rocket Rinder.otf");
}

@font-face {
    font-family: "Stereofunk";
    src: url("resources/synthwave/Stereofunk.ttf");
}

@font-face {
    font-family: "VCR";
    src: url("resources/synthwave/VCR_OSD_MONO_1.001.ttf");
}

body {
    font-family: "VCR", serif;
}

@media only screen and (orientation: landscape) {
    body {
        background: url("resources/synthwave/computer_background.png") no-repeat;
        background-size: cover;
    }
}

@media only screen and (orientation: portrait) {
    body {
        background: url("resources/synthwave/phone_background.jpg");
        background-size: cover;
    }
}
:root {
    --text-colour: white;
}

.nav-link {
    font-family: "Stereofunk", serif;
}

.display-4, h3, h2 {
    font-family: "Stereofunk", serif;
    text-align: center;
    float: none !important;
    color: white;
}

.display-4 {
    font-size: 3em;
}

.lead.py-4 {
    font-family: "VCR", serif;
}

.display-3 {
    font-family: "Discopia", serif;
    color: white;
    font-size: 4em;
}

@media only screen and (orientation: portrait) {
    .display-3 {
        font-size: min(11vw, 4em);
    }

    .display-4 {
        font-size: min(11vw, 3em);
    }

    .nav-link {
        padding: 0 2vw;
        font-size: min(4vw, 13px);
    }

    #toggle-YT, #refresh-suggestions {
        font-size: min(4vw, 13px);
    }
    p.display-4 {
        margin-bottom: 0;
    }
    p.lead {
        padding: 0 0 2vw !important;
    }

    .btn {
        font-size: min(4vw, 13px);
    }

    .col-10 {
        padding-right:0;
        font-size: 0;
    }
}

h4 {
    color: white;
}

.track {
    background: rgba(255, 255, 255, 0.15);
    color: white;
    text-shadow: -1px -1px 0 #000,
    -1px 0px 0 #000,
    -1px 1px 0 #000,
    0px -1px 0 #000,
    0px 0px 0 #000,
    0px 1px 0 #000,
    1px -1px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000;
}

.list-group-item {
    border: .1em solid #ff2975;
    outline: .1em solid #ff2975;
}

@media only screen and (orientation: portrait) {
    .track-title {
        font-size: min(4vw, 18px);
    }
    .track-artist {
        font-size: min(3vw, 13px);
    }
    .track-duration, .track-user, .track-source {
        font-size: min(3vw, 13px);
    }
}

.container {
    padding-bottom: 1em;
}

a {
    color: #ff2975;
}

.card {
    background: transparent;
}

.lead.py-4 > a, .a, .playlist-title, .fw-bolder {
    text-shadow: -1px -1px 0 #000,
    -1px 0px 0 #000,
    -1px 1px 0 #000,
    0px -1px 0 #000,
    0px 0px 0 #000,
    0px 1px 0 #000,
    1px -1px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000;
}

a:hover {
    color: #f222ff;
}

.btn {
    border: solid 2px;
    border-color: #f222ff !important;
    background-color: transparent !important;
    color: #ff2975;
    border-radius: 25px;
}

.btn:hover {
    color: #f222ff !important;
}

.icon {
    background: white none no-repeat !important;
    border: none;
    background-size: 20px;
    padding-left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 6px;
    display: block;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 20px;
    mask-size: 20px;
    -webkit-mask-position: center;
    mask-position: center;
    transition: background-color .15s ease-in-out;
}

.icon:hover {
    background: #ff2975 none no-repeat !important;
}

.icon.btn-back {
    -webkit-mask-image: url("resources/icons/arrow-alt-circle-left-solid.svg");
    mask-image: url("resources/icons/arrow-alt-circle-left-solid.svg");
}

.icon.btn-more {
    -webkit-mask-image: url("resources/icons/ellipsis-h-solid.svg");
    mask-image: url("resources/icons/ellipsis-h-solid.svg");
}

.icon.btn-up {
    -webkit-mask-image: url("resources/icons/chevron-up-solid.svg");
    mask-image: url("resources/icons/chevron-up-solid.svg");
}

.icon.btn-down {
    -webkit-mask-image: url("resources/icons/chevron-down-solid.svg");
    mask-image: url("resources/icons/chevron-down-solid.svg");
}

.icon.btn-remove {
    -webkit-mask-image: url("resources/icons/x.svg");
    mask-image: url("resources/icons/x.svg");
}

.icon.btn-add {
    -webkit-mask-image: url("resources/icons/plus-square-regular.svg");
    mask-image: url("resources/icons/plus-square-regular.svg");
}

.icon.btn-refresh {
    -webkit-mask-image: url("resources/icons/sync-solid.svg");
    mask-image: url("resources/icons/sync-solid.svg");
}

.icon.btn-stats {
    -webkit-mask-image: url("resources/icons/stats.svg");
    mask-image: url("resources/icons/stats.svg");
}

.icon.btn-top {
    -webkit-mask-image: url("resources/icons/angle-double-up.svg");
    mask-image: url("resources/icons/angle-double-up.svg");
    height: 30px;
}

.icon.btn-volume {
    -webkit-mask-image: url("resources/icons/volume.svg");
    mask-image: url("resources/icons/volume.svg");
}

.btn-remove, .btn-add, .btn-back, .btn-more, .btn-up, .btn-down, .btn-refresh {
    position: relative;
    top: 2px;
}

.help-block {
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 1em;
}

/*
Fuck this i need it for color
 */
input[type=range] {
    -webkit-appearance: none;
    /*nécessaire pour Chrome */
    padding: 0;
    /* nécessaire pour IE */
    font: inherit;
    /* même rendu suivant font document */
    outline: none;
    box-sizing: border-box;
    /* même modèle de boîte pour tous */
    transition: opacity .2s;
    height: 20px;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: progress-bar;
}

/* Filling */
/* Mozilla */
input[type="range"]::-moz-range-progress {
    height: 10px;
    border-radius: 5px;
    background-color: #ff2975;
    box-shadow: 0 0 8px 0 #f222ff;
    /* Color of the filling thingy */
}

/* Background */
/* Firefox */
input[type="range"]::-moz-range-track {
    background-color: #D7D7D7;
    /* Background color of the range thingy */
    border-radius: 5px;
    height: 10px;
    width: 100%
}

/* Pointer */
/* Firefox */
input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border: none;
    background: none;
}

/* Focus on Chrome and Firefox */
input[type=range]:focus {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
