@font-face {
    font-family: "ZeldaBOTW";
    src: url("resources/zelda/zeldaBOTW.otf");
}

@font-face {
    font-family: "Zelda";
    src: url("resources/zelda/zelda.otf");
}

@font-face {
    font-family: "Pixel";
    src: url("resources/zelda/pixel.ttf");
}

:root {
    --text-colour: white;
    --link-colour: white;
    --link-hover-colour: #4bb1db;
    --discrete-colour: gray;
    --statcol-primary: rgba(0, 255, 0, 0.4);
    --statcol-secondary: rgba(244, 161, 44, 0.4);
    --statcol-head: rgba(255, 0, 0, 0.4);
    --background-color: #1887b5;
    --background-shadow: #2596be;
}

#playlist-playing, #playlist-queue {
    list-style-type: none;
    padding: 0;
    text-align: center;
    letter-spacing: 10px;
    margin: 13px 10px 10px;
}

body {
    font-family: "Pixel", serif;
    font-weight: bold;
    font-variant: small-caps;

}
@media only screen and (orientation: landscape) {
    body {
        background: url(https://images.alphacoders.com/789/thumb-1920-789452.jpg);
        background-size: cover;
    }
}

@media only screen and (orientation: portrait) {
    body {
        background: url(https://i.pinimg.com/originals/30/4f/a1/304fa12fced766b70d6932cb59e49431.jpg);
        background-size: cover;
    }
}


.display-3, .display-4 {
    text-shadow: -2px -2px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    2px 2px 0 #000,
    3px 3px 0 #000,
    4px 4px 0 #000,
    5px 5px 0 #000,
    6px 6px 0 #000;
}

.display-3 {
    font-family: "ZeldaBOTW", serif;
    visibility: hidden;
    font-size: 0;
}

.display-3:after {
    content: "The Legend Of The Jukebox";
    visibility: visible;
    font-size: 5rem;
    color: #C1A564
}

.display-4 {
    color: #c32130;
    font-weight: normal;
    font-family: "Zelda", serif;
}

.nav-link {
    font-family: "Zelda", serif;
    font-size: 1.25rem;
    padding: .5em .5em;
}

iframe#YT {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    /* Pour avoir un truc youtube centré un peu quand même */
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-shadow:
            -1px -1px 0 #000,
            -1px 0px 0 #000,
            -1px 1px 0 #000,
            0px -1px 0 #000,
            0px 1px 0 #000,
            1px -1px 0 #000,
            1px 0px 0 #000,
            1px 1px 0 #000;
}

.lead.py-4 > a {
    text-shadow:
            -1px -1px 0 #000,
    -1px 0px 0 #000,
    -1px 1px 0 #000,

    0px -1px 0 #000,
    0px 1px 0 #000,

    1px -1px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000;
    margin-right: 5px;
}

input[type="search"] {
    text-align: left;
    direction: ltr;
    border: 1px solid white;
    box-shadow: 0 0 10px 2px var(--background-shadow);
    background-color: var(--background-color);
    color: #dcf5f7;
    border-radius: 25px;
}

.form-control:focus {
    box-shadow: 0 0 20px 8px var(--background-shadow);
    background-color: var(--background-color);
    color: #dcf5f7;
}

.form-control::placeholder {
    color:  var(--link-hover-colour);
}

label {
    color: black;
    margin-bottom: 0;
}

select {
    margin: 1em 0 1em 0;
}

iframe, .list-group {
    box-shadow: 1px 1px 0 0 #000,
    2px 2px 0 0 #000,
    3px 3px 0 0 #000,
    4px 4px 0 0 #000,
    5px 5px 0 0 #000,
    6px 6px 0 0 #000,
    7px 7px 0 0 #000,
    8px 8px 0 0 #000,
    9px 9px 0 0 #000,
    10px 10px 0 0 #000;
}

.container, .iframe, .list-group {
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
}

table {
    margin: auto;
}

.list-group {
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.list-group-item.track {
    background-color: transparent;
}

.yt-btn {
    margin: auto;
}

#jump {
    font-size: .9em;
}

.albumart {
    border-radius: 70px 0.5em 0.5em 70px;
    margin-top: -7px;
    margin-left: -7px;
    box-shadow: 10px 10px 0 0 black;
    object-fit: cover;
    max-width: 280px;
    max-height: 140px;
    width: 100%;
    height: auto;
}

#pause, #rewind, #advance {
    width: 100%;
    font-family: "Segoe UI";
    background-color: var(--background-color);
    color: #dcf5f7;
    border-color: white;
}


.track-duration, .track-user, .track-source, .track-url, .track-count, .track-album, .track-source, .track-title, .track-artist {
    display: block;
    font-size: 1rem;
}

.track-title, .track-artist {
    display: block;
}

.track-user, .track-duration {
    display: inline-block;
}

#search_results .track-user {
    visibility: hidden;
}

.icon {
    background: transparent none no-repeat center;
    border: none;
    background-size: auto 100%;
    padding-left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: .3em auto;
    display: block;
}

.icon.btn-more, .icon.btn-back {
    background-image: url('resources/zelda/navy.png');
}

.icon.btn-up {
    background-image: url('resources/zelda/greenRupee.png');
}

.icon.btn-down {
    background-image: url('resources/zelda/redRupee.png');
}

.icon.btn-remove {
    background-image: url("resources/zelda/bomb.png")
}

.icon.btn-add {
    background-image: url("resources/zelda/triforce.png")
}

.icon.btn-refresh {
    background-image: url('resources/zelda/yellowRupee.png');
}

input[type=range] {
    -webkit-appearance: none;
    /*nécessaire pour Chrome */
    padding: 0;
    /* nécessaire pour IE */
    font: inherit;
    /* même rendu suivant font document */
    outline: none;
    color: var(--background-color);
    /* sert pour couleur de référence, via currentColor, pour le curseur */
    box-sizing: border-box;
    /* même modèle de boîte pour tous */
    transition: opacity .2s;
    height: 20px;
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
}

input[type=range]:focus, input[type=range]::-webkit-slider-runnable-track {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 3px;
    background: linear-gradient(to right, #293043, #293043), #D7D7D7;
    background-size: 0 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: blue;
}

input[type='range']::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: blue;
    border: solid blue 1px;
    border-radius: 50%;
    margin-top: -6px;
    background-color: none;
}

input[type="range"]::-moz-range-progress {
    height: 10px;
    border-radius: 5px;
    background-color: var(--background-color);
}

input[type="range"]::-moz-range-track {
    background-color: #D7D7D7;
    border-radius: 5px;
    height: 10px;
    width: 100%
}

input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border: none;
    background: none;
}

.container-fluid::after {
    content: "Theme by Khâtharsis (Nya)";
    text-align: center;
    width: 50%;
    position: relative;
    left: 50%;
    margin-left: -25%;
    display: block;
    animation: spin;
    animation-duration: 4s;
    animation-delay: 60s;
    animation-iteration-count: 1;
    font-size: larger;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
